@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.tabs {
  margin: 0;
  padding-top: 55%;
  list-style-type: none;
  text-align: center;
}

.tabs > li {
  display: inline-block;
}

.tabs a {
  display: inline-block;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: #646464;
  border-style: solid;
  border-width: 4px;
  position: relative;
}

.tabs a:hover {
  background-color: #646464;
  color: #fff;
}

.badge {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  top: -5px;
  left: calc(50% - 5px);
  transform: rotate(45deg);
  animation: pulse 1s linear infinite alternate;
}

.panel {
  display: none;
}

.panel:target {
  display: block;
}

img {
  width: 100%;
  position: absolute;
}
